---
layout: page
title: "Academic Projects"
permalink: /academic-projects/
---

<h1>Academic Projects</h1>
<p class="section-intro">
  These projects showcase my coursework in mechanical engineering. They highlight key concepts learned and practical applications.
</p>
<ul>
  {% for post in site.posts %}
    {% if post.categories contains "Academic Project" %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a> 
        - {{ post.date | date_to_string }}
      </li>
    {% endif %}
  {% endfor %}
</ul>
