<header class="site-header">
  <div class="header-top wrapper">
    <!-- Left Column: Profile Picture -->
    <div class="header-left">
      <img
        class="profile-pic"
        src="{{ '/Media/profile.jpg' | relative_url }}"
        alt="{{ site.title | escape }} profile picture"
      >
    </div>

    <!-- Center Column: Site Title -->
    <div class="header-center">
      <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
        {{ site.title | escape }}
      </a>
    </div>

    <!-- Right Column: About Link -->
    <div class="header-right">
      <a class="about-link" href="{{ '/about' | relative_url }}">About</a>
    </div>
  </div>
</header>
